.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-chassis {
    margin-top: 90px;
    margin-bottom: 50px;
    padding: 15px;
    border: solid #DDE3E5 2px;
    box-shadow: 6px 6px #686868;
    border-radius: 10px;
    background-color: #E2EAEC;
}

#start-button {
    padding: 20px 70px 20px 70px;
    border-radius: 30px;
    background-color: #FFA9FC;
    font-family: "Courier New", Courier, monospace;
    font-size: xx-large;
    color: white;
    font-weight: bold;
    border: solid 4px transparent;
}

#start-button:hover {
    border: solid 4px #F2F19A;
}

.grid-button-container {
    /* border: solid red 1px; */
    padding: 5px;
}

.grid-button {
    border: solid 2px transparent;
    border-radius: 4px;
    margin: 4px;
    padding: 12px;
}

.grid-button-down {
    border: solid #FC7AE5 2px;
}

.grid-button-level-0 {
    background-color: #B5BEC0;
}

.grid-button-level-1 {
    background-color: ;
    box-shadow: 0px 0px 10px ;
}

.grid-button-level-2 {
    background-color: ;
    box-shadow: 0px 0px 10px ;
}

.grid-button-level-3 {
    background-color: ;
    box-shadow: 0px 0px 10px ;
}

.grid-button-level-4 {
    background-color: ;
    box-shadow: 0px 0px 10px ;
}

.grid-button-level-5 {
    background-color: ;
    box-shadow: 0px 0px 10px ;
}

.grid-button-level-6 {
    background-color: ;
    box-shadow: 0px 0px 10px ;
}

.grid-button-level-7 {
    background-color: ;
    box-shadow: 0px 0px 10px ;
}

.grid-button-level-8 {
    background-color: ;
    box-shadow: 0px 0px 10px ;
}

.grid-button-level-9 {
    background-color: ;
    box-shadow: 0px 0px 10px ;
}

.grid-button-level-10 {
    background-color: ;
    box-shadow: 0px 0px 10px ;
}

.grid-button-level-11 {
    background-color: ;
    box-shadow: 0px 0px 10px ;
}

.grid-button-level-12 {
    background-color: ;
    box-shadow: 0px 0px 10px ;
}

.grid-button-level-13 {
    background-color: ;
    box-shadow: 0px 0px 10px ;
}

.grid-button-level-14 {
    background-color: ;
    box-shadow: 0px 0px 10px ;
}

.grid-button-level-15 {
    background-color: ;
    box-shadow: 0px 0px 10px ;
}
