.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-chassis {
    margin-top: 90px;
    margin-bottom: 50px;
    padding: 15px;
    border: solid #DDE3E5 2px;
    box-shadow: 6px 6px #686868;
    border-radius: 10px;
    background-color: #E2EAEC;
}

#start-button {
    padding: 20px 70px 20px 70px;
    border-radius: 30px;
    background-color: #FFA9FC;
    font-family: "Courier New", Courier, monospace;
    font-size: xx-large;
    color: white;
    font-weight: bold;
    border: solid 4px transparent;
}

#start-button:hover {
    border: solid 4px #F2F19A;
}

.grid-button-container {
    /* border: solid red 1px; */
    padding: 5px;
}

.grid-button {
    border: solid 2px transparent;
    border-radius: 4px;
    margin: 4px;
    padding: 12px;
}

.grid-button-down {
    border: solid #FC7AE5 2px;
}

.grid-button-level-0 {
    background-color: #B5BEC0;
}

.grid-button-level-1 {
    background-color: #E1E1B0;
    box-shadow: 0px 0px 10px #E1E1B0;
}

.grid-button-level-2 {
    background-color: #EAEAA5;
    box-shadow: 0px 0px 10px #EAEAA5;
}

.grid-button-level-3 {
    background-color: #EDED9F;
    box-shadow: 0px 0px 10px #EDED9F;
}

.grid-button-level-4 {
    background-color: #F1F19C;
    box-shadow: 0px 0px 10px #F1F19C;
}

.grid-button-level-5 {
    background-color: #FAFA92;
    box-shadow: 0px 0px 10px #FAFA92;
}

.grid-button-level-6 {
    background-color: #FEFE84;
    box-shadow: 0px 0px 10px #FEFE84;
}

.grid-button-level-7 {
    background-color: #FFFF7B;
    box-shadow: 0px 0px 10px #FFFF7B;
}

.grid-button-level-8 {
    background-color: #FFFF71;
    box-shadow: 0px 0px 10px #FFFF71;
}

.grid-button-level-9 {
    background-color: #FFFF65;
    box-shadow: 0px 0px 10px #FFFF65;
}

.grid-button-level-10 {
    background-color: #FFFF59;
    box-shadow: 0px 0px 10px #FFFF59;
}

.grid-button-level-11 {
    background-color: #FFFF4A;
    box-shadow: 0px 0px 10px #FFFF4A;
}

.grid-button-level-12 {
    background-color: #FFFF37;
    box-shadow: 0px 0px 10px #FFFF37;
}

.grid-button-level-13 {
    background-color: #FFFF22;
    box-shadow: 0px 0px 10px #FFFF22;
}

.grid-button-level-14 {
    background-color: #FFFF17;
    box-shadow: 0px 0px 10px #FFFF17;
}

.grid-button-level-15 {
    background-color: #FFFF00;
    box-shadow: 0px 0px 10px #FFFF00;
}
